<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Chill</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>butterfly</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>amzn-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
					<string>juspay-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).cred</string>
					<string>paytm-$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fbFACEBOOK_APP_ID</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>Google Sign-In</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.227381852653-9gps57rdanb5jh9r52ed7fmhh6qicmf1</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.chill.entertainment</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>butterfly</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string></string>
				<key>CFBundleURLSchemes</key>
				<array/>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FacebookAdvertiserIDCollectionEnabled</key>
		<true/>
		<key>FacebookAppID</key>
		<string>FACEBOOK_APP_ID</string>
		<key>FacebookAutoLogAppEventsEnabled</key>
		<true/>
		<key>FacebookClientToken</key>
		<string>FACEBOOK_CLIENT_TOKEN</string>
		<key>FacebookDisplayName</key>
		<string>Chill</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>FlutterDeepLinkingEnabled</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fb-messenger-share-api</string>
			<string>credpay</string>
			<string>phonepe</string>
			<string>paytmmp</string>
			<string>tez</string>
			<string>paytm</string>
			<string>bhim</string>
			<string>myairtel</string>
			<string>slice-upi</string>
			<string>ppe</string>
			<string>amazonpay</string>
			<string>kiwi</string>
			<string>navipay</string>
			<string>mobikwik</string>
			<string>tatadigital</string>
			<string>popclubapp</string>
			<string>super</string>
			<string>postpe</string>
			<string>cugext</string>
			<string>devtools</string>
			<string>jupiter</string>
			<string>hdfcbanknb</string>
			<string>aunb</string>
			<string>imobileappnb</string>
			<string>simplypayupi</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to your photo library to allow users to add attachments when raising a support ticket.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>We need access to save images to your photo library.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) needs access to your photo library to allow users to add attachments when raising a support ticket.</string>
		<key>NSUserNotificationsUsageDescription</key>
		<string>We need permission to send notifications.</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Your app needs permission to track your activity for personalized ads and analytics.</string>
		<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>cstr6suwn9.skadnetwork</string>
			</dict>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>v9wttpbfk9.skadnetwork</string>
			</dict>
		</array>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
